// To clear things when we float the element inside nav and ul
.clear {
  *zoom: 1;

  &:after {
    clear: both;
  }

  &:before,
  &:after {
    content: " ";
    display: table;
  }
}

.site-header {
  padding: 1.5% 2% 1% 2%;
  background: var(--background);
  display: inline-block;
  width: 100%;

  .separator {
    user-select: none;
    opacity: 0;

    &:first-child {
      display: none;
    }
  }

  a {
    color: var(--header-link);
  }

  .avatar {
    height: 3em;
    width: 3em;
    float: left;
    margin-top: -13px;
    border-radius: 0.2em;
    margin-right: 0.5em;
    padding: 10px 10px;

  }

  .site-title {
    float: left;
    font-family: $font-family-logo;
    font-size: 1.3em;
    color: var(--link);

    &::after {
      content: '>'
    }

    &::before {
      content: '<'
    }
  }

  #theme-toggle {
    cursor: pointer;
  }

  .icon-link {
    @media (min-width: $break) {
      .menu-title {
        display: none;
      }
    }

    &__search {
      background: var(--link);
      padding: 3px 5px 0px 5px;
      border: 1px solid var(--link);
      border-radius: 3px;
      color: var(--selection);
      transition: transform .2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

nav {
  list-style: none;
  margin: 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.5;
    float: right;
    text-align: right;
    display: flex;
    align-items: center;

    @media (max-width: $break) {
      display: block;
      flex-direction: column;
    }
  }

  li {
    display: flex;
    float: left;
    margin-right: 0.4em;
  }

  a {
    &:hover {
      color: var(--link);
    }

    &#pull {
      i {
        margin: 5px 10px;
      }

    }

  }
}

/* ---- Responsive ---- */

@media (min-width: $break) {
  .mobile-nav {
    display: none;
  }
}


@media screen and (max-width: $break) {
  .site-header {
    img.avatar {
      margin-top: -7px
    }

    .site-title {
      margin-top: 7px;
    }
  }

  nav {
    height: auto;

    .separator {
      display: none !important;
    }

    ul {
      width: 100%;
      overflow: hidden;

      /* fade out, then shrink */
      transition: opacity .25s 0s, font-size .25s 0s;
      transition-delay: 0s;

      &.hide {
        font-size: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
      }
    }

    li {
      width: 100%;
      text-align: center;
      font-size: 1em;
      position: relative;
      background-color: var(--background);
      backdrop-filter: brightness(0.98);

      &:nth-of-type(4n) {
        background-color: var(--background);
      }

      a {
        width: 100%;
        margin: 0;
        display: block;
      }

      .icon-link__search {
        display: none;
      }
    }

    .mobile-nav {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }
  }
}

// Theme toggle
.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  &_icon {
    padding: 0;

    &_light {
      path {
        fill: var(--toggle-icon-light);
      }
    }

    &_dark {
      path {
        fill: var(--toggle-icon-dark);
      }
    }
  }

  &_switch {
    margin: 0 8px;
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  &_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-slider);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;

    &:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      border: 2px solid var(--link);
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
  }

  &_checkbox:checked+&_slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
}