
.about {
    &-section {
        display: flex;
        @media screen and (max-width: $m-break) {
            flex-direction: column;
          }
        > * {
            flex: 1 1 0;
        }
    }

    &-img {
        padding-top: 5px;
    }

    &-content {
        flex: 2 1 0;
        @media (min-width: $l-break) {
            flex: 1 1 0;
        }
        padding: 0 10px;
        text-align: justify;

        p {
            margin-bottom: 0.375rem;
        }

        &_skill {
            font-size: 0.875rem;
            font-weight: 700;
            padding: 0 2px;
            color: var(--link);
        }
    }

}